@{
    ViewData["Title"] = "Config";
}

<div class="w-[80%] mx-auto my-10">
    <div class="flex w-full flex-col">
        <h1 class="text-xl font-normal text-white">Config Banner</h1>
        <div class="mt-6 flex w-full justify-end">
            <button class="flex items-center gap-2 rounded-md bg-gray-200 px-3 py-2" id="add_banner">
                <span class="material-symbols-outlined text-gray-800">
                    add_circle
                </span>
                Add Banner
            </button>
        </div>
        <table id="config_banner" class="mt-6 w-full">
            <thead class="rounded-md border border-white">
                <tr class="text-gray-200">
                    <th class="w-[10%] border border-r-gray-200 font-normal">No.</th>
                    <th class="w-[35%] border border-r-gray-200 font-normal">Banner Image</th>
                    <th class="w-[25%] border border-r-gray-200 font-normal">Is Active</th>
                    <th class="w-[25%] font-normal">Config</th>
                </tr>
            </thead>
            <tbody id="banner_table_body">
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                </tr>
            </tbody>
        </table>
        <h1 class="mt-12 text-xl font-normal text-white">Config Movie</h1>
        <div class="mt-6 flex w-full justify-end">
            <button class="flex items-center gap-2 rounded-md bg-gray-200 px-3 py-2" id="add_movie">
                <span class="material-symbols-outlined text-gray-800">
                    add_circle
                </span>
                Add Movie
            </button>
        </div>
        <table id="config_banner" class="mt-6 w-full">
            <thead class="rounded-md border border-white">
                <tr class="text-gray-200">
                    <th class="w-[20%] border border-r-gray-200 font-normal">Title</th>
                    <th class="w-[20%] border border-r-gray-200 font-normal">Released</th>
                    <th class="w-[20%] border border-r-gray-200 font-normal">Runtime</th>
                    <th class="w-[20%] border border-r-gray-200 font-normal">Genres</th>
                    <th class="w-[20%] font-normal">Config</th>
                </tr>
            </thead>
            <tbody id="movie_table_body">
               
            </tbody>
        </table>
    </div>
</div>

<!--Banner Model-->
<div class="fixed left-0 top-0 flex hidden h-full w-full items-center justify-center bg-opacity-50" id="show_modal_banner">
    <div class="w-[40%] relative flex flex-col rounded-md bg-white px-8 pb-8 pt-14 shadow-md">
        <span class="material-symbols-outlined absolute right-5 top-5 cursor-pointer text-gray-800" id="close_banner_modal">
            close
        </span>
        <form class="flex flex-col" id="banner_form">
            <div class="border-2 relative w-full rounded-lg border-dashed border-gray-300 p-6" id="dropzone">
                <div class="flex flex-col items-center justify-center">
                    <img class="mx-auto h-12 w-12" src="https://www.svgrepo.com/show/357902/image-upload.svg" alt="logo image">
                    <h3 class="mt-2 text-sm font-medium text-gray-900">
                        <label for="file_upload" class="relative cursor-pointer">
                            <span class="text-indigo-600">browse</span>
                            <span>to upload</span>
                            <input id="file_upload" name="file_upload" type="file" class="sr-only" required>
                        </label>
                    </h3>
                    <img src="" class="mx-auto mt-4 hidden max-h-40" id="preview">
                </div>
            </div>
            <div class="my-4">
                <select class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" id="select_banner_option" required>
                    <option>select is active image</option>
                    <option value="true">active</option>
                    <option value="false">inactive</option>
                </select>
            </div>
            <p class="hidden" id="banner_id"></p>
            <div class="flex hidden w-full gap-3" id="message_banner">
            </div>
            <div class="flex w-full gap-4">
                <button type="reset" class="w-[50%] rounded-md bg-gray-800 px-2 py-2 text-white" id="cancle_banner_btn">Cancle</button>
                <button type="submit" class="w-[50%] rounded-md bg-gray-800 px-2 py-2 text-white" id="banner_submit_btn">Save</button>
            </div>
        </form>
    </div>
</div>

<!--Movie Model-->
<div class="fixed left-0 top-0 flex hidden h-full w-full items-center justify-center bg-opacity-50" id="show_modal_movie">
    <div class="w-[80%] relative flex flex-col rounded-md bg-white px-8 pb-8 pt-14 shadow-md">
        <span class="material-symbols-outlined absolute right-5 top-5 cursor-pointer text-gray-800" id="close_modal_movie">
            close
        </span>
        <form class="flex flex-row gap-3" id="movie_form">
            <div class="w-[50%] flex flex-col">
                <div class="flex flex-row gap-3">
                    <h1>Movies</h1>
                </div>
                <div class="border-2 relative w-full rounded-lg border-dashed border-gray-300 p-6" id="dropzone">
                    <div class="flex flex-col items-center justify-center">
                        <img class="mx-auto h-12 w-12" src="https://www.svgrepo.com/show/357902/image-upload.svg" alt="logo image">
                        <h3 class="mt-2 text-sm font-medium text-gray-900">
                            <label for="file_upload_poster" class="relative cursor-pointer">
                                <span class="text-indigo-600">browse</span>
                                <span>to upload</span>
                                <input id="file_upload_poster" name="file_upload_poster" type="file" class="sr-only" required>
                            </label>
                        </h3>
                        <img src="" class="mx-auto mt-4 hidden max-h-40" id="preview_poster">
                    </div>
                </div>
                <div class="my-4 flex flex-row gap-3">
                    <div class="w-[50%] flex flex-col">
                        <label for="movie_title">movie title</label>
                        <input type="text" id="movie_title" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                    </div>
                    <div class="w-[50%] flex flex-col">
                        <label for="movie_year">movie year</label>
                        <input type="number" id="movie_year" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                    </div>
                </div>
                <div class="my-4 flex flex-row gap-3">
                    <div class="w-[50%] flex flex-col">
                        <label for="movie_released">movie released</label>
                        <input type="date" id="movie_released" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                    </div>
                    <div class="w-[50%] flex flex-col">
                        <label for="movie_runtime">movie runtime</label>
                        <input type="time" id="movie_runtime" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                    </div>
                </div>
                <div class="my-4 flex flex-row gap-3">
                    <div class="w-[100%] flex flex-col">
                        <label for="movie_genre">movie genre</label>
                        <input type="text" id="movie_genre" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                    </div>
                </div>
            </div>
            <div class="w-[50%] flex flex-col">
                <div class="my-4 flex flex-row gap-3">
                    <h1>Release Movies Date</h1>
                </div>
                <div class="mb-6 flex flex-col">
                    <div class="w-[100%] flex flex-col">
                        <label for="movie_release_1">movie release</label>
                        <input type="date" id="movie_release_1" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                    </div>
                    <div class="my-2 flex flex-row gap-2">
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_time_1">movie release time</label>
                            <input type="time" id="movie_release_time_1" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_time_2">movie release time</label>
                            <input type="time" id="movie_release_time_2" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_time_3">movie release time</label>
                            <input type="time" id="movie_release_time_3" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_time_4">movie release time</label>
                            <input type="time" id="movie_release_time_4" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                    </div>
                </div>
                <div class="my-6 flex flex-col">
                    <div class="w-[100%] flex flex-col">
                        <label for="movie_release_2">movie release</label>
                        <input type="date" id="movie_release_2" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                    </div>
                    <div class="my-2 flex flex-row gap-2">
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_times_1">movie release time</label>
                            <input type="time" id="movie_release_times_1" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_times_2">movie release time</label>
                            <input type="time" id="movie_release_times_2" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_times_3">movie release time</label>
                            <input type="time" id="movie_release_times_3" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                        <div class="w-[25%] flex flex-col">
                            <label for="movie_release_times_4">movie release time</label>
                            <input type="time" id="movie_release_times_4" required class="w-full rounded-md border border-gray-300 px-2 py-2 focus:outline-none active:outline-none" />
                        </div>
                    </div>
                </div>
                <p class="hidden" id="movie_update_id"></p>
                <div class="flex hidden w-full gap-3" id="message_movie">
                </div>
                <div class="flex w-full gap-4">
                    <button type="reset" class="w-[50%] rounded-md bg-gray-800 px-2 py-2 text-white" id="cancle_movie_btn">Cancle</button>
                    <button type="submit" class="w-[50%] rounded-md bg-gray-800 px-2 py-2 text-white" id="movie_submit_btn">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="/js/config.js"></script>
}

                   