@{
    ViewData["Title"] = "Movie Page";
}

<div class="w-[80%] mx-auto">
    <div class="relative m-auto w-full" id="banner_slide">
    </div>
    <div class="my-7 flex flex-col">
        <h1 class="text-white">Release Movie</h1>
        <div class="grid-cols-4 my-4 grid gap-6" id="release_movie">

        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/index.js"></script>
    <script src="/js/slide.js"></script>
}