@{
    ViewData["Title"] = "Movie Page";
}

<div class="w-[80%] mx-auto">
    <div class="relative m-auto w-full">
        <div class="fade hidden bg-red-500" id="slide">
            <img src="https://img.freepik.com/free-vector/flat-design-cinema-festival-sale-banner_23-2149922991.jpg?t=st=1721747103~exp=1721750703~hmac=f06fbaa0a72912e65ce3cc07b2bb2bd572c087042b02bcbac0665e2b483af56b&w=1380" width="100%" />
        </div>
        <div class="fade hidden bg-green-500" id="slide">
            <img src="https://img.freepik.com/premium-vector/editable-text-effect-illustrator_458817-448.jpg?w=1380" width="100%" />
        </div>
        <div class="fade hidden bg-blue-500" id="slide">
            <img src="https://img.freepik.com/free-vector/poster-cinema-horror-night-movie-theater_107791-14338.jpg?t=st=1721747172~exp=1721750772~hmac=27a67fb8d696c66d788c9d776359b2f63e7d068fc57439860115c6c929815d0b&w=1380" width="100%" />
        </div>
    </div>
</div>

@section Scripts {
    <script src="/js/slide.js"></script>
}